.StoryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.StoryCard p {
    width: 30rem;
}

.StoryCard h3 {
margin-bottom: 2rem;    
}

.StoryCard-Content {
    display: flex;
}

.StoryCard-Image {
width: auto;
height: auto;
max-width: 40rem;
max-height: 25rem;
margin-left: 5rem;
}

.Delete-Button-Container {
    display: flex;
    align-items: flex-end;
    margin-left: 2rem;
}

.Delete-Button {
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.Delete-Button.Icon:hover {
    color: tomato;
    background-color: whitesmoke;
    cursor: pointer;
}