.SpaceCard-Container {
    display: flex;
    justify-content: center;
}

.SpaceCard {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    justify-content: left;
    width: 40rem;
    margin: 2rem 0;
    padding: 1rem;
}

.SpaceCard p {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 6rem;
}

.SpaceCard-Link {
    text-decoration: none;
    background-color: rgb(128, 128, 218);
    color: white;
    padding: 0.5rem;
}

.SpaceCard-Link:hover {
    background-color: white;
}